attrs
Automat
certifi
cffi
charset-normalizer
constantly
cryptography
cssselect
filelock
hyperlink
idna
incremental
itemadapter
itemloaders
jmespath
lxml
parsel
Protego
pyasn1
pyasn1-modules
pycparser
PyDispatcher
pyOpenSSL
queuelib
requests
requests-file
Scrapy
service-identity
six
tldextract
Twisted
twisted-iocpsupport
typing-extensions
urllib3
w3lib
zope.interface
